<template>
  <div>
    <h1>Feedback</h1>
    <CCard>
      <CCardBody>
        <CForm>
          <template v-for="(question, idx) in feedBackQuestions">
            <div :key="idx" class="form-item">
              <CCol lg="8">
                <label
                  >Q{{ idx + 1 }}<b> {{ question.question }}</b></label
                >
                <CCol :lg="question.options.length > 2 ? 8 : 4" sm="6">
                  <CInputRadioGroup
                    :options="question.options"
                    class="d-flex justify-content-between mb-2"
                    :checked.sync="question.response"
                  />
                </CCol>
              </CCol>
            </div>
          </template>
        </CForm>
      </CCardBody>
      <CCardFooter class="text-center">
        <CButton color="success" @click.prevent="handleSubmit"
          >Final Submit</CButton
        >
      </CCardFooter>
    </CCard>
  </div>
</template>

<script>
import { localDb } from "@/mixins/localDb";
import { ajaxCallMixin } from "@/mixins/HttpCommon";

export default {
  name: "ExamFeedback",
  mixins: [ajaxCallMixin, localDb],
  data() {
    return {
      feedBackQuestions: [
        {
          question:
            "Has there been any malpractice of any kind during this assessment?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question:
            "Has the assessor asked for any monetory bribe or any other kind of favor?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question:
            "Did the assessor check all original records, data, identity cards and beneficiaries?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question: "Did the assessor arrive on time?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question:
            "Did the assessor follow the prescribed procedures for conducting assessment?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question: "Was the assessor aware of the job role?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question: "Was the viva conducted in a cordial manner?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question:
            "Did the assessor possess practical knowledge of the job role?",
          response: "1",
          options: [
            { value: "0", label: "No" },
            { value: "1", label: "Yes" },
          ],
        },
        {
          question: "What aspects of the Assessments could be improved?",
          response: "",
          options: [
            { value: "0", label: "Online Test" },
            { value: "1", label: "Viva" },
            { value: "2", label: "Practical" },
            { value: "3", label: "N/A" },
          ],
        },
        {
          question: "Overall conduct of the Assessment and Assessor?",
          response: "",
          options: [
            { value: "0", label: "Needs Improvement" },
            { value: "1", label: "Good" },
          ],
        },
      ],
    };
  },
  beforeRouteEnter(to, from, next) {
    const status = JSON.parse(sessionStorage.getItem("isExamInProgress"));
    if (status) next({ path: "/exam/paper" });
    else next();
  },
  beforeRouteLeave(to, from, next) {
    if (to.name === "ExamPaper") next(false);
    else next();
  },
  methods: {
    handleSubmit() {
      let examData = this.get("examData", "local");
      let candidateResponse = this.get("candidateResponse", "session");
      let testObject = {};
      testObject.candidateResponse = candidateResponse;
      testObject.moduleDetails = examData.moduleData;
      let data = {};
      data.testObject = testObject;
      data.feedBackData = this.feedBackQuestions;
      data.registrationData = [];
      data.isCompleted = "1";
      let params = {};
      params.data = data;
      params.language = this.currentLangCode;
      params.token = examData.authToken;
      let url = "/test/test/saveTestObject";
      this.ajaxCall(url, params, this.callBackSubmit);
    },
    callBackSubmit(apiResponse) {
      if (apiResponse.error !== true) {
        sessionStorage.clear();
        this.$router.push("/exam/end");
      }
    },
  },
};
</script>
