<template>
  <div>
    <CRow>
      <CCol>
        <CCard> <CCardBody> <center><h1>Test Result</h1> </center></CCardBody></CCard>
      </CCol>
    </CRow>

    <CRow>
      <CCol col = 4 >
      <CWidgetSimple header="Attempted question" :text="attemptedText">
        <CProgress
          animated
          color="danger"
          height="0.8rem"
          :value=testData.attemptedQuestions*100/testData.totalQuestions
        />
      </CWidgetSimple>
    
      </CCol>
        <CCol col = 4 >
      <CWidgetSimple header="Correct Answer" :text="testData.correctAnswers+'/'+testData.totalQuestions">
        <CProgress
          animated
          color="danger"
          height="0.8rem"
          :value=testData.correctAnswers*100/testData.totalQuestions
        />
      </CWidgetSimple>
    
      </CCol>
        <CCol col = 4 >
          <CWidgetSimple header="Score" :text="testData.score+'/'+testData.maxScore">
        <CProgress
          animated
          color="danger"
          height="0.8rem"
          :value=testData.score*100/testData.maxScore
        />
      </CWidgetSimple>
         
      </CCol>
      
    </CRow>
  <CCard>
    <CDataTable
      :items="moduleData"
      :fields="fields"
      hover
      striped
    >
    <template #timeTaken="{item}" >
      
        <td class="py-2">
          {{floor(item.timeTaken/60)}} mins {{item.timeTaken%60}} sec
        </td>
      </template>
    </CDataTable>
    
    </CCard>

 
    <CCard>
      <CCardBody class="text-center">
        <h4>Thank you for taking this exam</h4>
        <p>Results will be sent to assessment agency</p>
        <CButton color="primary" @click="logout">Logout</CButton>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import { ajaxCallMixin } from "@/mixins/HttpCommon";
import { localDb } from "@/mixins/localDb";

export default {
  name: "Result",
  mixins: [ajaxCallMixin, localDb],
  
  data() {
    
    return {
      fields:[{key:"moduleName",label:"Section Name"},"score","attemptedQuestions","correctAnswers","totalQuestions","timeTaken"],
      details: [],
      courseName: "",
      collapseDuration: 0,
      showCourseList: false,
      companyList: {},
      moduleData: {},
      attemptedText:"",
      testData:{},
    };
  },
  created(){
    this.getTestAnalysis();
  },
  methods: {
    getTestAnalysis() {
      var param = {};
      var data = {};
      var url = "test/test/getTestAnalysis";
      data.sendModuleArrayValues = true;
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.populateAnalysis);
    },
    populateAnalysis(apiResponse) {
      if (apiResponse.error != true) {
        this.testData = apiResponse.data.testData;
        this.moduleData = apiResponse.data.moduleData;
      }
      this.attemptedText = this.testData.attemptedQuestions+"/"+this.testData.totalQuestions;
    },
     logout() {
      this.remove("examData", "local");
      window.close();
      this.$router.push("/auth/login");
    },
    beforeRouteLeave(to, from, next) {
      if (to.name === "Login") next();
      else next(false);
    }
  }

}
</script>