<template>
  <div>
    <div v-html="getQuestionData('instructions')" class="disable-select"></div>

    <div v-html="getQuestionData('questionStatement')" class="disable-select"></div>

    <template v-for="(option,key) in getQuestionData('options')">
      <CRow align-vertical="center" :key="key" class="option-box">
        <CCol col="1">
          <input
            type="radio"
            :id="key"
            :value="key"
            :checked="value === key"
            @change="updateResponse"
          />
        </CCol>
        <CCol col="6">
          <label :for="key" v-html="option" class="disable-select"></label>
        </CCol>
      </CRow>
    </template>
  </div>
</template>

<script>
export default {
  name: "QuestionTab",
  props: {
    currentQuestionData: Object,
    value: String,
  },
  methods: {
    updateResponse(e) {
      this.$emit("input", e.target.value);
    },
    getQuestionData(prop) {
      return this.currentQuestionData[prop];
    },
  },
};
</script>

<style scoped>
.option-box {
  padding: 10px;
}

.disable-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
</style>