<template>
  <div class="login-bgd">
    <CContainer class="d-flex min-vh-100">
      <CRow alignVertical="center" alignHorizontal="center" class="flex-grow-1">
        <CCol sm="4" lg="5">
          <CAlert :color="color" :show.sync="currentAlertCounter" closeButton>
            {{ message }}
            <!--CProgress
              :max="10"
              :value="currentAlertCounter"
              height="3px"
              color="danger"
              animate
            /-->
          </CAlert>
          <CCard>
            <CCardBody>
              <CForm>
                <div class="text-center">
                  <h1>Welcome Back</h1>
                  <p class="text-muted">Sign In to your account</p>
                </div>
                <CInput
                  id="username"
                  placeholder="Username"
                  autocomplete="username email"
                  v-model="username"
                >
                  <template #prepend-content>
                    <CIcon name="cil-user" />
                  </template>
                </CInput>
                <CInput
                  id="password"
                  placeholder="Password"
                  type="password"
                  v-model="password"
                >
                  <template #prepend-content>
                    <CIcon name="cil-lock-locked" />
                  </template>
                </CInput>
                <CCol col="12" class="text-center">
                  <CButton @click="loginUser" color="primary" class="px-4"
                    >Get Started</CButton
                  >
                </CCol>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import { ajaxCallMixin } from "@/mixins/HttpCommon";
import { localDb } from "@/mixins/localDb";

export default {
  name: "Login",
  mixins: [ajaxCallMixin, localDb],
  data() {
    return {
      username: "",
      password: "",
      currentAlertCounter: 0,
      message: "",
      testStatus: {
        0: "Not Attempted",
        1: "Attempted",
      },
      color: "danger",
    };
  },
  beforeMount() {},
  methods: {
    loginUser() {
      var data = {};
      data.username = this.username;
      data.password = this.password;
      var url = "/test/test/testLogin";
      var params = {};
      params.data = data;
      this.ajaxCall(url, params, this.saveExamData);
    },
    saveExamData(apiResponse) {
      if (apiResponse.error != true) {
        // to check if candidate has attempted the test before or not
        let flag = apiResponse.data.testStatus;
        if (flag === null || this.testStatus[flag] === "Not Attempted") {
          this.save("examData", apiResponse.data, "local");
          this.$router.push("/exam/details");
        } else if (this.testStatus[flag] === "Attempted") {
          this.currentAlertCounter = 5;
          this.message = "You have submitted the test.";
          this.color = "success";
        }
      } else {
        this.currentAlertCounter = 5;
        this.message = "Incorrect credentials please check.";
        this.color = "danger";
      }
    },
  },
};
</script>

<style scoped>
.login-bgd {
  background-image: url("../assets/images/csbgd.png");
  background-size: cover;
}
</style>